body {
    font-family: "Gill Sans", Arial, sans-serif;
    color:#898989;
}

header {
    display: flex;
    
    align-items: center;
    border-bottom: 5px solid #a8ee42;
}
header > div {
    flex-grow: 1.5;
}

header > ul {
    
    flex-grow: 1
    /*display:inline-block;*/
    /*float:right;*/
}

header > ul > li {
    display:inline-block;
    margin-left:2%;
    padding: 1%;
    border-radius:15px;
    
}

header > ul > li:hover {
    background: #a8ee42;
    border: 1px solid #898989;
    color:white;
}

/*---------------  banner ----------------*/

div.banner {
    /*height: 500px;*/
    background: url("img/slider.jpg")  no-repeat;
    background-size:100% 100%;
    padding:5%;
}

div.banner > div > h2 {
    font-size:1.5em;
    color:rgba(250,250,250,0.9);
}
div.banner > div > h1 {
    font-size: 3em;
    color:white;
    margin-top:2%;
}

div.banner > div > p {
    line-height: 1.5;
    color:rgba(250,250,250,0.8);
}

div.banner > div > p.invitation{
    width:30%;
    padding:4%;
    background:#a8ee42;
    text-align: center;
    border-radius:2px;
}

div.banner > div > p.invitation > a{
    color:white;
    text-decoration: none;
}


.banner > div {
    width:40%;
    
}
.banner > img {
    height: 100%;
    min-width: 100%;
}

/*-------------- partners -------------- */

div.partners {
    /*display:flex;*/
    /*justify-content: space-around;*/
    padding:5% 10%;
    background: rgba(250,250,250);
}

div.partners > h2 {
    text-align: center;
    margin-bottom:8%;
    color:rgba(5,5,5);
    
}

div.partners > ul {
    display:flex;
    width:100%;
    justify-content: space-around;

}

div.partners > ul > li {
    display: inline-block;
}

/*---------- advantages --------------- */

div.advantages {
    padding:5%;
}
div.advantages > h2 {
    text-align: center;
    color:rgba(5,5,5);
    margin-bottom: 4%;
}
div.advantages > ul {
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

div.advantages > ul >li {
    display: inline-block;
    width:30%;
    margin:1%;
}

div.advantages > ul >li > div.description {
    margin-left:20%;
    width:80%;
}

div.advantages > ul > li > div > p {
    margin-top:0;
}
div.advantages > ul > li > i {
   margin:0 5%;
   float:left;
}

.fa-chart-line,.fa-credit-card,.fa-lightbulb,.fa-globe,.fa-user,.fa-shopping-bag {
    color:#a8ee42;
}

/*-------------- takepart ------------------*/

div.takepart {
    height: 400px;
    width: 100%;
    background:url("img/business01.jpg") no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   /* padding:0 5%;*/
}

div.takepart > h2 {
    display:inline-block;
    color:white;
    display:flex;
    text-align: center;
}

div.takepart > p.invitation{
    width:15%;
    padding:2%;
    background:#a8ee42;
    text-align: center;
    border-radius:2px;
}

div.takepart > p.invitation > a {
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}


/*---------------------- location ------------------*/

div.location {
    display:flex;
    margin:2% 0;
    flex-direction: column;
    align-items: center;
}

div.location > img {
    min-width:100%;
}

div.location h2 {
    color:rgba(5,5,5);
}

/*-------------------- price ---------------------*/

div.price {
    margin-top:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.price h2 {
    color:rgba(5,5,5);
}

div.price > table {
    margin:2%;
    width:50%;
    height:300px;
    border-collapse: collapse;
}

div.price > table > thead > tr{
    background: #334f67;
}

div.price > table > thead > tr > th{
    padding:10px;
    color:white;
}


div.price > table > tbody,tfoot > tr > td {
    text-align: center;
    width:25%;
}

div.price > table > tfoot > tr > td:nth-child(n+2) {
    color: #334f67;
    font-weight: 600;
}



div.price > table > tbody > tr > td {
    border: 1px solid gray;
}

div.price > table > tfoot > tr >td {
    border: 1px solid gray;
}

div.price > table > tbody > tr > td:first-child {
    text-align: left;
    padding:10px;
}


div.price > table > tfoot > tr > td:first-child {
    text-align: left;
    padding:10px;
}

.fa-times {
    color: orange;
}

.fa-check {
    color:#a8ee42;
}


/*--------------------------- worksheet -------------------------*/

div.worksheet {
    display:flex;
    justify-content: center;
    background: rgba(250,250,250);
}

div.worksheet form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

div.worksheet > form  input {
    padding: 8px;
    text-align: center;
}

div.worksheet sup {
    color:red;
}

div.worksheet input[type = "submit"] {
    background:#a8ee42;
    color:white;
    display:inline-block;
    width:100%;
    height:50px;
    border-radius:2px;
    border:1px solid transparent;
    padding:0 20px;
}


/*--------------- map ---------------------*/

#map {
        height: 400px;
        width: 100%;
       }


/*--------------- footer -----------------*/

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgba(250,250,250);
}

footer > h2 {
    margin-top:5%;
    margin-bottom:3%;
    color:rgba(5,5,5);
}
footer > div.contacts {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
footer figure {
    text-align: center;
    width:30%;
}

footer figcaption {
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer figcaption p {
    width:50%;
}

footer figcaption p:hover {
    color:#a8ee42;
    border-bottom: 2px solid #a8ee42;
}

footer figure > img {
    width:30%;
    border-radius:60%;
}


/*--------- media-queries --------------------*/

@media (min-width:768px) and (max-width:1024px){

    header {
        flex-wrap: wrap;
    }
    header div {
        display:block;
        width:100%;
    }
    header ul {
        display:flex;
        justify-content: space-between;
    }
    /*header ul > li {
        
    }*/
    div.banner > div {
        width: 60%;
    }

    div.banner > div  p.invitation{
        width:40%;
    }

    div.partners  {
      padding:5% 2%;
    }

    div.takepart p.invitation{
        width:20%;
    }
    div.location {
        display:none;
    }

    div.price >table {
        width: 80%;
    }
}


@media (max-width:420px) {
    header {
        flex-wrap: wrap;
    }
    header div {
        display:block;
        width:100%;
    }
    header ul {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding-left:0;
    }
    /*header ul > li {
        
    }*/
    div.banner > div {
        width: 100%;
    }

    div.banner > div  p.invitation{
        width:40%;
    }

    div.partners  {
      padding:5% 2%;
    }

    div.partners ul{
        flex-direction: column;
        align-items: center;
        margin-bottom:5%;
    }

    div.advantages ul{
        flex-direction: column;
        padding:0;
    }

    div.advantages ul > li {
        width:100%;
    }
    div.takepart p.invitation{
        width:20%;
    }
    div.location {
        display:none;
    }

    div.price {
        display:flex;
        flex-direction: column;
    }
    div.price >table {
        width: 100%;
    }

    div.worksheet form p > label{
        display:flex;
        align-items: center;
        flex-direction: column;
    }
    div.worksheet form input {
        width:80%;
    }

    footer figure img{
        width:60%;
    }
}